<h1>Conversation</h1>

<ul>
  <% @messages.each do |message| %>
    <li>
      <strong><%= message.user.first_name %>:</strong>
      <%= message.content %>
      <small><%= message.created_at.strftime("%Y-%m-%d %H:%M") %></small>
    </li>
  <% end %>
</ul>

<%= form_with model: [ @conversation, Message.new ], local: true do |f| %>
  <%= f.text_area :content %>
  <%= f.submit 'Send message' %>
<% end %>

<script>
import consumer from "./consumer"

consumer.subscriptions.create({ channel: "ConversationChannel", conversation_id: <%= @conversation.id %> }, {
  received(data) {
    // Code pour afficher le message reçu
  }
})
</script>
