<h1>Conversation avec <%= @conversation.users.where.not(id: current_user.id).first.first_name %></h1>

<div id="messages" data-conversation-id="<%= @conversation.id %>">
  <% @messages.each do |message| %>
    <%= render 'messages/message', message: message %>
  <% end %>
</div>

<%= form_with(model: [@conversation, @message], remote: true) do |form| %>
  <div class="field">
    <%= form.text_area :content, rows: 3 %>
  </div>
  <%= form.submit 'Envoyer' %>
<% end %>
