<div class="container">
  <div class="row">
    <% @users.each do |user| %> <!-- Boucle à travers les utilisateurs -->
      <div class="col-md-3 mb-3"> <!-- Colonne Bootstrap pour l'affichage -->
        <div class="card card-index">
          <!-- Ajout d'un conteneur parent pour gérer l'image et l'icône étoile -->
          <div class="card-img-top-container">
            <!-- Affichage de la photo si elle est attachée -->
            <% if user.photo.attached? %>
              <%= image_tag user.photo, class: "card-img-top" %>
            <% end %>
          </div>

          <!-- Contenu de la carte -->
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <!-- Nom de l'utilisateur en titre de la carte -->
              <h5 class="card-title">
                <% if user.aupair? %>
                  <%= user.first_name %> <%= user.last_name %>
                <% else %>
                  <%= user.last_name %>
                <% end %>
              </h5>

              <div class="d-flex">
                <div data-controller="manage-favorites" data-manage-favorites-id-value="<%= {visiting_user: current_user.id, visited_user: user.id}.to_json %>">
                  <i data-action="click->manage-favorites#toggle_favorite"
                    data-manage-favorites-target="star"
                    class="fa-star position-icon <%= Favorite.where(favoriting_user_id: current_user.id, favorited_user_id: user.id).empty? ? 'fa-regular' : 'fa-solid' %>"></i>
                </div>

                <div data-controller="manage-matches" data-manage-matches-id-value="<%= {initiated_by: current_user.id, received_by: user.id}.to_json %>" >
                  <i data-action="click->manage-matches#manage_matches"
                    data-manage-matches-target="heart"
                    class="fa-solid position-icon-match
                    <% if Match.where(initiated_by: current_user.id, received_by: user.id).empty? %>
                      <%= 'fa-heart-circle-plus icon-match-empty' %>
                    <% elsif Match.where(initiated_by: current_user.id, received_by: user.id).first.status == "pending" %>
                      <%= 'fa-heart-circle-exclamation icon-match-pending' %>
                    <% elsif Match.where(initiated_by: current_user.id, received_by: user.id).first.status == "refused" %>
                      <%= 'fa-heart-circle-xmark icon-match-refused' %>
                    <% elsif Match.where(initiated_by: current_user.id, received_by: user.id).first.status == "accepted" %>
                      <%= 'fa-heart-circle-check icon-match-accepted' %>
                    <% end %>"></i>
                </div>
              </div>



            </div>

            <!-- Informations spécifiques à l'au_pair -->
            <% if user.aupair? %>
              <!-- Nationalité -->
              <p class="card-nationality">
                <i class="fa-solid fa-location-dot"></i> <%= user.nationality %>
              </p>
              <!-- Genre, Âge -->
              <p class="card-details">
                <%= user.gender %>, <%= Date.today.year - user.birth_date.year %> years old<br>
              <!-- Description -->
                <p class="card-description">
                <%= truncate(user.description, length: 70) %>
                </p>
              </p>
            <% else %> <!-- Informations spécifiques à la famille -->
              <p class="card-text">
                <%= "Location: #{user.location}" %><br>
                <%= "Number of children: #{user.number_of_children}" %><br>
                <%= truncate(user.description, length: 70) %>
              </p>
            <% end %>

            <!-- Bouton pour voir le profil détaillé -->
            <%= link_to "View profile", user_path(user), class: "btn btn-primary" %>

            <%# Button favorite to add it in rails (whithout js)
            <%= link_to "Add as favorite",
                  favorites_path(visited_user: user, visiting_user: current_user ),
                  data: {turbo_method: :post},
                  class: "btn btn-secondary" %>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
