<div class="container">
  <div class="row">
    <% @users.each do |user| %> <!-- Boucle à travers les utilisateurs -->
      <div class="col-md-3 mb-3"> <!-- Colonne Bootstrap pour l'affichage -->
        <div class="card card-index">
          <!-- Ajout d'un conteneur parent pour gérer l'image et l'icône étoile -->
          <div class="card-img-top-container">
            <!-- Affichage de la photo si elle est attachée -->
            <% if user.photo.attached? %>
              <%= image_tag user.photo, class: "card-img-top" %>
            <% end %>
          </div>

          <!-- Contenu de la carte -->
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <!-- Nom de l'utilisateur en titre de la carte -->
              <h5 class="card-title">
                <% if user.aupair? %>
                  <%= user.first_name %> <%= user.last_name %>
                <% else %>
                  <%= user.last_name %>
                <% end %>
              </h5>

              <div class="d-flex">
                <div data-controller="manage-favorites" data-manage-favorites-id-value="<%= {visiting_user: current_user.id, visited_user: user.id}.to_json %>">
                  <i data-action="click->manage-favorites#toggle_favorite"
                    data-manage-favorites-target="star"
                    class="fa-star icon icon-hover fa-solid <%= Favorite.where(favoriting_user_id: current_user.id, favorited_user_id: user.id).empty? ? 'icon-favorite-empty' : 'icon-favorite-added' %>"></i>
                </div>

                <div data-controller="manage-matches" data-manage-matches-id-value="<%= {initiated_by: current_user.id, received_by: user.id}.to_json %>" >
                  <i data-action="click->manage-matches#manage_matches"
                    data-manage-matches-target="heart"
                    data-placement="top"
                    class="fa-solid icon
                    <% if user.empty?(current_user) %>
                      <%= 'fa-heart-circle-plus icon-match-empty icon-hover' %>
                    <% elsif user.pending?(current_user) %>
                      <%= 'fa-heart-circle-exclamation icon-match-pending icon-hover' %>
                    <% elsif user.refused?(current_user) %>
                      <%= 'fa-heart-circle-xmark icon-match-refused' %>
                    <% elsif user.accepted?(current_user) %>
                      <%= 'fa-heart-circle-check icon-match-accepted' %>
                    <% end %>"></i>
                </div>
              </div>
            </div>

            <!-- Informations spécifiques à l'au_pair -->
            <% if user.aupair? %>
              <!-- Nationalité -->
              <p class="card-nationality">
                <i class="fa-solid fa-flag"></i> <%= user.nationality %>
              </p>
              <!-- Genre, Âge -->
              <p class="card-details">
                <%= user.gender %>, <%= Date.today.year - user.birth_date.year %> years old<br>
                <!-- Description -->
                <p class="card-description">
                  <%= user.description %>
                </p>
              </p>
            <!-- Informations spécifiques à la famille -->
            <% else %>
              <!-- Localisation -->
              <p class="card-location">
                <% city, country = user.location.split(/\s*,\s*/, 2) %>
                <i class="fa-solid fa-location-dot"></i> <%= city %><br>
                <span class="card-location-country"><%= country %></span>
              </p>
              <!-- Nombre d'enfants -->
              <p class="card-text">
                <i class="fa-solid fa-child"></i> <%= user.number_of_children %><br>
              </p>
              <p class="card-description">
                <%= user.description %>
              </p>
            <% end %>

            <!-- Bouton pour voir le profil détaillé -->
            <%= link_to "View profile", user_path(user), class: "btn btn-primary" %>

            <%# Button favorite to add it in rails (whithout js)
            <%= link_to "Add as favorite",
                  favorites_path(visited_user: user, visiting_user: current_user ),
                  data: {turbo_method: :post},
                  class: "btn btn-secondary" %>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
