<%= render 'navbar' %>

<div class="container">
  <!-- Greetings -->
  <% if @user.aupair? %>
    <h1>Hi <%= @user.first_name %>! Let's edit your profile.</h1>
  <% elsif @user.family? %>
    <h1>Hi <%= @user.last_name %> family! Let's edit your profile.</h1>
  <% end %>

  <!-- Affichage de la photo de profil centrée et circulaire -->
  <div class="profile-photo-container text-center mt-5">
    <%= cl_image_tag(@user.photo.attached? ? @user.photo.key : 'default_avatar.png', width: 300, height: 300, class: "profile-photo") %>
  </div>

  <!-- Lien d'édition de la photo de profil -->
  <div class="edit-photo-link text-center">
    <a href="#" id="edit-profile-picture" data-bs-toggle="modal" data-bs-target="#profilePictureModal">Update profile picture</a>
  </div>

  <!-- Modale pour éditer la photo de profil -->
  <%= render 'profile_picture_modal' %>

  <!-- Première ligne contenant les deux sous-formulaires côte à côte -->
  <div class="row d-flex align-items-stretch mt-5">
    <!-- Première colonne: Basic Information -->
    <div class="col-md-4 d-flex flex-column">
      <h3>Basic Information</h3>
      <%= form_with model: @user, url: user_path(@user), method: :patch, local: true do |form| %>
        <% if @user.aupair? %>
          <div class="form-group">
            <%= form.label :first_name, "First Name" %>
            <%= form.text_field :first_name, class: "form-control" %>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label :last_name, "Last Name" %>
          <%= form.text_field :last_name, class: "form-control" %>
        </div>

        <% if @user.aupair? %>
          <div class="form-group">
            <%= form.label :birth_date, "Birth Date", class: "form-label" %>
            <input type="date" name="user[birth_date]" id="birth_date" class="form-control" value="<%= @user.birth_date %>">
          </div>

          <div class="form-group">
            <%= form.label :gender, "Gender", class: "form-label" %>
            <%= form.select :gender, [['Select Gender', ''], ['Male', 'male'], ['Female', 'female']], { selected: @user.gender }, { class: "selectpicker w-100"} %>
          </div>
        <% end %>

        <% if @user.family? %>
          <div class="form-group">
            <%= form.label :number_of_children, "Number of Children" %>
            <%= form.number_field :number_of_children, class: "form-control" %>
          </div>
        <% end %>

        <%= form.submit "Update Basic Information", class: "btn btn-outline-primary mt-3" %>
      <% end %>
    </div>

    <!-- Deuxième colonne: Description -->
    <div class="col-md-8 d-flex flex-column">
      <h3>Description</h3>
      <%= form_with model: @user, url: user_path(@user), method: :patch, local: true, html: { class: "d-flex flex-column flex-grow-1" } do |form| %>
        <div class="form-group d-flex flex-column flex-grow-1">
          <%= form.label :description, "About you..." %>
          <%= form.text_area :description, class: "form-control flex-grow-1" %>
        </div>

        <%= form.submit "Update Description", class: "btn btn-outline-primary mt-3 w-50" %>
      <% end %>
    </div>
  </div>

  <!-- Troisième partie: Nationalité et localisation -->
  <div class="mt-5">
    <h3>Nationality and Location</h3>
    <%= form_with model: @user, url: user_path(@user), method: :patch, local: true do |form| %>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= form.label :nationality, "Nationality", class: "form-label" %>
            <%= form.select :nationality, @nationalities.map { |nationality| [nationality, nationality] }, { selected: @user.nationality }, { class: "selectpicker w-100", 'data-live-search' => 'true' } %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <%= form.label :location, "Location" %>
            <%= form.text_field :location, class: "form-control" %>
          </div>
        </div>
      </div>
    </div>

    <%= form.submit "Update Nationality and Location", class: "btn btn-outline-primary mt-3" %>
  <% end %>
</div>
