<%= render 'navbar' %>

<div class="container">
  <div class="user-banner card mt-4">
    <div class="row">
      <div class="col-md-3">
        <div class="user-profile-picture m-1">
          <%= cl_image_tag(@aupair.photo.key, width: 300, height: 300, class: "card-img-top") %>
        </div>
      </div>

      <div class="col-md-9">
        <div class="user-description">
          <h2><%= "#{@aupair.first_name} #{@aupair.last_name}" %></h2>
          <p><%= @aupair.description %></p>
        </div>
      </div>
    </div>
  </div>

    <div class="row mt-4">
      <div class="col-md-6">
        <div class="card user-description">
          <p><%= @aupair.birth_date %></p>
          <p><%= @aupair.location %></p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card user-location">
          <p><%= @aupair.nationality %></p>
        </div>
      </div>
    </div>

    <div class="text-center my-4">
      <%= current_user.aupair? ? (link_to "Back to families' list", root_path, class:"btn btn-primary") :
      (link_to "Back to aupairs' list", root_path, class:"btn btn-primary")  %>
  </div>
</div>
