<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag 'amp_logo.png', alt: 'Aupair Match Logo' %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
            <%= link_to "About us", "#", class: "nav-link" %>
        </li>
        <li class="nav-item active">
            <%= link_to "Contact", "#", class: "nav-link" %>
        </li>
        <li class="nav-item active">
            <%= link_to "FAQ", "#", class: "nav-link" %>
        </li>
        <li class="nav-item active">
            <%= link_to 'Sign in', new_user_session_path, class: "btn btn-white btn-outline-primary" %>
        </li>
      </ul>
    </div>
  </div>
</div>
